<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All doctors</h1>
    <% AllDoctors.forEach(doc => { %>
     <h2> doctors Name: <%= doc.name %> </h2>
     <p>doctor specialty <%=doc.specialty %></p>
     <p>doctor yearsOfExperience <%= doc.yearsOfExperience%></p>
    <% }) %>
</body>
</html>