<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/doctors" method="post">
          <label for="name">name:</label>
        <input id="name" name="name" type="text">


         <label for="specialty">specialty</label>
        <input id="specialty" name="specialty" type="text">

          <label for="yearsOfExperience">yearsOfExperience:</label>
        <input name="yearsOfExperience" id="yearsOfExperience" type="number">

        <button>Create A doctor</button>
    </form>
</body>
</html>