<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Doctor</title>
</head>
<body>
    <h1>Add new doctor</h1>
    <form action="/doctors/new" method="post">
        <label for="name">Doctor name:</label>
        <input name="name" id="name" type="text" required>

         <label for="specialty">Doctor specialty:</label>
        <input name="specialty" id="specialty" type="text" required>

         <label for="yearsOfExperience">Years of experience:</label>
        <input name="yearsOfExperience" id="yearsOfExperience" type="number" min="0" required>

        <button type="submit">Add doctor</button>
    </form>
</body>
</html>