<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Apointments</title>
</head>
<body>
    <h1>All Appointments</h1>
    <form action="/appointments/new" method="get">
        <button>Add new appointment</button>
    </form>
    <% allAppointments.forEach((appointment)=>{%>
        <p>patient name: <%= appointment.patientName%></p>
        <p>date: <%= appointment.date%></p>
        <a href="/appointments/<%= appointment._id%>">appointment details</a>
        <hr />
    <%})%>
</body>
</html> 